#LiveAcademy_course_template {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
#Add-New-Chapter {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.LiveAcademy_course_chapter {
    background-color: var(--color-accent-low);
    border-radius: 15px;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
}
.LiveAcademy_course_chapter:hover {
    opacity: 1;
}
.LiveAcademy_course_chapter h1 {
    color: var(--color-text);
    font-size: 18px;
    font-family: var(--font-family);
    margin: 0rem 0.75rem 0rem 0.75rem;
    padding: 1rem 0rem;
}
#new_chapter_input {
    background-color: var(--color-accent-low);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
#new_chapter_input input, .LiveAcademy_course_chapter input {
    color: var(--color-text);
    font-size: 18px;
    font-family: var(--font-family);
    margin: 1rem 5rem;

    background: transparent;
    border: none;
    outline: none;

    text-align: center;

    cursor: pointer;
}
#new_chapter_input img {
    width: 23px;
    margin: 1rem 0rem;
    cursor: pointer;
}