:root {
    --color-primary: #000DC2;
    --color-secundary: rgb(107, 147, 184);
    --color-background: #060827;
    --color-text: #fff;
    --color-accent: #00D4FF;

    --font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height:100%;
    background-color: var(--color-background);
}
body {
    margin: 0;
}